body{
    background-color: black;
    height: 100vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#parent-container{
    height: 1000px;
    width: 93vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.outerDiv{
    display: flex;
    flex-direction: row;
}

.innerDiv{
    background-color: white;
}

.innerDiv2{
    background-color: orange;
}

h1:hover{
    background-color: orange;
}

button{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    height: auto;
}